# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Replace kip.rkkp base url in history.html
        uses: richardrigutins/replace-in-files@9ee1eb0fc6ab1c8cf5c8fe6129ea19f003f4df4b # v2.1.14
        with:
          files: '**/history.html'
          search-text: 'https://kip.rkkp.dk/fhir'
          replacement-text: 'https://kip-ig.sundk.dk/fhir'
          encoding: 'utf8'
          max-parallelism: 10
                             
      - name: Replace build.fhir base url in history.html
        uses: richardrigutins/replace-in-files@9ee1eb0fc6ab1c8cf5c8fe6129ea19f003f4df4b # v2.1.14
        with:
          files: '**/history.html'
          search-text: 'https://build.fhir.org/ig/kip-infrastructure/implementation-guide/'
          replacement-text: 'https://kip-ig.sundk.dk/fhir'
          encoding: 'utf8'
          max-parallelism: 10
                             
      - name: Replace full-ig.zip with package.tgz in history.html
        uses: richardrigutins/replace-in-files@9ee1eb0fc6ab1c8cf5c8fe6129ea19f003f4df4b # v2.1.14
        with:
          files: '**/history.html'
          search-text: 'full-ig.zip'
          replacement-text: 'package.tgz'
          encoding: 'utf8'
          max-parallelism: 10
      
      - name: Replace the Directory of published versions url
        uses: richardrigutins/replace-in-files@9ee1eb0fc6ab1c8cf5c8fe6129ea19f003f4df4b # v2.1.14
        with:
          files: '**/*.html'
          search-text: 'https://kip.rkkp.dk/fhir/history.html' 
          replacement-text: 'https://kip-ig.sundk.dk/fhir/history.html'
          encoding: 'utf8'
          max-parallelism: 10
          
      - name: Setup Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          # Upload entire repository
          path: '.'
          
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
        id: deployment
